.input {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
}

.button {
  padding: 8px;
  margin-top: 8px;
  margin-left: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: #ccc;
}

.form {
  margin-bottom: 10px;
}
